.myToast{
    display: none;
}

.carrusel{
    display: flex;
    justify-content: space-around;
}
.garant{
    justify-content: space-around;
    text-align: center;
}
.gal{
    display: none;
}
.subMenu{
    justify-content: space-around;
    text-align: center;
}
.priceDop{
    text-align: center;
}
.checks{

    max-width: fit-content;
}
.checks2{
  width: fit-content;
    align-content: center
}
.last {
    justify-content: space-around;
    text-align: center;
    user-select: none;
}
.next {
     text-align: center;
    user-select: none;
}